<template lang="pug">
    div(v-if="$apollo.loading") Loading ...
    div(v-else)
        div(v-for="(resolution, index) in queryData.resolutions" :key="index")
            h2 {{resolution.name}}
            p {{resolution._id}}
        form(@submit.prevent="submitForm")
            input(type="text" v-model="inputName")
            button(type="submit") Submit
</template>

<script>
import gql from "graphql-tag";

export default {
    data() {
        return {
            queryData: '',
            inputName: ''
        }
    },
    apollo: {
        queryData: {
            query: gql`
                query {
                    resolutions {
                        _id
                        name
                    }
                }
            `,
            update: (data) => data,
            pollInterval: 300,
        },
    },
    methods: {
        submitForm() {
            this.$apollo.mutate({
                // mutation genericMutationName 
                mutation: gql`mutation createResolution($name: String!) {
                    createResolution(name: $name) {
                        _id
                    }
                }`,
                variables: {
                    name: this.inputName
                },
            }).then(({data}) => {
                // console.log(data)
                
            })
        }
    }
}
</script>
